<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reversi</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div id="reversi">
    <p><strong>Welcome to the Reversi</strong></p>
    <table border="0" v-if="game == null">
            <tr>
                <td>choose your chess</td>
                <td>
                    <input type="radio" name="color" value="white" />white
                    <input type="radio" name="color" value="black" checked="checked" />black
                </td>
                <td>
                    <button type="button" onclick="makeNewGame()">Start</button>
                </td>
            </tr>
         </table>
    <button type="button" onclick="deleteGame()" v-if="game != null">End Game</button>
    <table align="center" id="tableID" border="1" style="cursor: pointer;">
    </table>
    <p id="turn" v-if="game != null"></p>

</div>
    <script src="static/game.js"></script>
</body>
</html>